/* This file is for your main application css. */

@import "./phoenix.css";
:root {
    --page-width: 1200px;
}
body {
    margin: 0;
}
#navbar-ui {
    background-color: #111;
}
#navbar-ui:empty {
    padding-bottom: 50px;
}